@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-12 col-lg-12 col-xxl-6">
            <div class="card mb-0">
                <div class="card-body">
                    <h2>Use a local account to log in.</h2>
                    <form id="account" method="post">
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Input.Email" aria-describedby="emailHelp">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input class="form-check-input primary" type="checkbox" asp-for="Input.RememberMe" checked>
                                <label class="form-check-label text-dark" asp-for="Input.RememberMe">
                                    Remember this Device
                                </label>
                            </div>
                            <a class="text-primary fw-bold" asp-page="./ForgotPassword">Forgot Password ?</a>
                        </div>
                        <button type="submit" href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4">Sign In</button>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="fs-4 mb-0 fw-bold">New Employee?</p>
                            <a class="text-primary fw-bold ms-2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
